In [ ]:
import pandas as pd
import numpy as np

In [5]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [6]:
movies.shape

(4803, 20)

In [7]:
movies.sample(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
412,60000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",NaN,9341,"[{""id"": 5178, ""name"": ""magnetic field""}, {""id""...",en,The Core,Geophysicist Dr. Josh Keyes discovers that an ...,29.211255,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2003-03-28,74208267,136.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Earth has a deadline.,The Core,5.4,516
2318,19000000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",NaN,8643,"[{""id"": 1944, ""name"": ""epilepsy""}, {""id"": 9712...",en,The Exorcism of Emily Rose,When a younger girl called Emily Rose (Carpent...,32.602868,"[{""name"": ""Lakeshore Entertainment"", ""id"": 126...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-09-09,144216468,122.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,What happened to Emily?,The Exorcism of Emily Rose,6.3,659

In [8]:
credits.sample(2)

,movie_id,title,cast,crew
427,45243,The Hangover Part II,"[{""cast_id"": 7, ""character"": ""Phil Wenneck"", ""...","[{""credit_id"": ""52fe46b8c3a36847f810e6a5"", ""de..."
3445,792,Platoon,"[{""cast_id"": 36, ""character"": ""Staff Sergeant ...","[{""credit_id"": ""52fe4277c3a36847f8020cf3"", ""de..."

In [9]:
movies = movies.merge(credits, on='title')

In [10]:
movies.sample(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
1812,30000000,"[{""id"": 18, ""name"": ""Drama""}]",http://www.thepassionofthechrist.com/,615,"[{""id"": 186, ""name"": ""christianity""}, {""id"": 8...",en,The Passion of the Christ,"""The Passion of the Christ"" is a film about th...",38.171417,"[{""name"": ""Icon Productions"", ""id"": 152}, {""na...",...,127.0,"[{""iso_639_1"": ""he"", ""name"": ""\u05e2\u05b4\u05...",Released,"By his wounds, we were healed.",The Passion of the Christ,6.9,864,615,"[{""cast_id"": 27, ""character"": ""Jesus"", ""credit...","[{""credit_id"": ""52fe425ec3a36847f8018d11"", ""de..."
1024,0,"[{""id"": 18, ""name"": ""Drama""}]",NaN,7504,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",hi,1947: Earth,It's 1947 and the borderlines between India an...,1.246883,"[{""name"": ""Cracking the Earth Films"", ""id"": 22...",...,101.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,NaN,Earth,6.6,9,7504,"[{""cast_id"": 2, ""character"": ""Dil Navaz"", ""cre...","[{""credit_id"": ""52fe4480c3a36847f8099e81"", ""de..."

In [11]:
#feature selection
movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [12]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [13]:
movies.dropna(inplace=True)

In [14]:
movies.duplicated().sum()

np.int64(0)

In [15]:
movies['genres']

0       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1       [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3       [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
                              ...
4804    [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4805    [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4806    [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4807                                                   []
4808                  [{"id": 99, "name": "Documentary"}]
Name: genres, Length: 4806, dtype: object

In [16]:
import ast 
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [17]:
movies['genres'] = movies['genres'].apply(convert)

In [18]:
movies['keywords'] = movies['keywords'].apply(convert)

In [19]:
def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            counter+=1
        else:
            break
    return L

In [20]:
movies['cast'] = movies['cast'].apply(convert3)

In [21]:
def fetch_director(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            L.append(i['name'])
            break
    return L

In [22]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [23]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [24]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",[],[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",[],[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",[],[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",[],[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",[],[Andrew Stanton]

In [25]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(' ', '') for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(' ', '') for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(' ', '') for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(' ', '') for i in x])

In [26]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [27]:
movies['tags']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: tags, Length: 4806, dtype: object

In [28]:
new_df = movies[['movie_id', 'title', 'tags']]

In [30]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\payal\AppData\Local\Temp\ipykernel_12676\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [31]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\payal\AppData\Local\Temp\ipykernel_12676\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [32]:
import nltk

In [33]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [34]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [35]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\payal\AppData\Local\Temp\ipykernel_12676\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [36]:
ps.stem('activity')

'activ'

In [37]:
new_df['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d jamescameron'

In [38]:
stem('in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d jamescameron')

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d jamescameron'

In [39]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [41]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [42]:
new_df.iloc[1216].title

'Autumn in New York'

In [48]:
from sklearn.metrics.pairwise import cosine_similarity

In [50]:
similarity = cosine_similarity(vectors)

In [51]:
sorted(list(enumerate(similarity[0])), reverse=True ,key=lambda x:x[1])[1:6]

[(1214, np.float64(0.2755193843889919)),
 (2405, np.float64(0.26901379342448517)),
 (539, np.float64(0.26222244603662925)),
 (3728, np.float64(0.2605130246476754)),
 (507, np.float64(0.260132990857236))]

In [61]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:6]
    
    for i in movie_list[1:6]:
        print(new_df.iloc[i[0]].title)

In [62]:
recommend('Avatar')

Aliens
Titan A.E.
Falcon Rising
Independence Day

In [63]:
import pickle

In [64]:
movie_dict = new_df.to_dict()

In [65]:
pickle.dump(movie_dict, open('movie_dict.pkl', 'wb'))

In [66]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))